#regiter
{
min-height:600px;
width:1500px;
background:url('../assets/img/b.jpg');
background-size:cover;
background-attachment:fixed;
}
#reginner
{
min-height:600px;
width:1500px;
background:rgba(0,0,0,.5);
padding:10px 150px;
box-sizing:border-box;
}
#reginner1
{
min-height:700px;
width:1200px;
}
#x
{
min-height:600px;
width:500px;
float:left;
background:rgba(0,0,0,.5);
padding:50px;
box-sizing:border-box;
color:white;
}